/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mrt-2016, 14:03:26
    Author     : michield
*/
.main{
    background-image: url("../media/achtergrond.png");
    padding-bottom: 64px;
}

.logo{
    padding-top: 200px;
    margin-left: 640px;
    margin-bottom: 40px;
}

.registreren, .login,.guest{
    margin-left: 1000px;
    margin-bottom: 20px;
}
a{
    color: #ffffff;
    font-size: 2em;  
}

footer{
   margin-top: 60px;
   margin-left: 2350px;
   margin-right: auto;
   font-weight: bold;
   padding-bottom: 0px;
       
}